.mainFooter {
  background-color: black;
  height: 140px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  img {
    padding-top: 50px;
  }
  p {
    margin-top: 20px;
  }
}
