@import "../../styles/breakpoint.scss";

.logementCaroussel {
  margin-left: 4%;
  margin-right: 4%;
  position: relative;
  margin-top: 50px;
  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    @include md {
      height: 400px;
    }
  }
  .chevronCaroussel {
    width: 46px;
    height: 79px;
    position: absolute;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      scale: 1.05;
    }
  }
  .chevronCarousselLeft {
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
  }
  .chevronCarousselRight {
    rotate: 180deg;
    right: 23px;
    top: 50%;
    transform: translateY(50%);
  }
  .compteur {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 600;
  }
}
