.collapseTitle {
  display: flex;
  background-color: $primary;
  justify-content: space-between;
  height: 50px;
  color: white;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: 500;
  border-radius: 3px 3px 0 0;
}
.collapseContainer {
  margin-top: 20px;
  cursor: pointer;
  .collapseText {
    background-color: $gray;
    color: $primary;
    padding: 10px;
  }
  .activeCollapse {
    rotate: 180deg;
  }
}
