.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary;
  margin-top: 50px;
  margin-left: 4%;
  margin-right: 4%;
  .activLink {
    border-bottom: 1px solid $primary;
  }
  .mainHeaderR {
    width: 150px;
    font-weight: 500;
    nav {
      display: flex;
      justify-content: space-between;
    }
  }
}
